<div id="div-bar" class="flex-padding" fxLayout="row" fxLayoutAlign="space-between center">
  <img id="img-logo" src="assets/logos/theNJK_white.svg" alt="theNJK" (click)="home()">
  <div id="div-buttons">
    <button class="button-nav" mat-flat-button routerLink="home" routerLinkActive="active">Home</button>
    <button class="button-nav" mat-flat-button routerLink="development" routerLinkActive="active">Development</button>
    <button class="button-nav" mat-flat-button routerLink="design" routerLinkActive="active">Design</button>
  </div>
</div>
