@import '../../../theme';

// rotation buttons

.button-rotate {
  z-index: 15;
  min-width: 0;
  min-height: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 0;
  color: mat-color($mat-neon-grey, 50);
  margin: 0 15px;
}

.button-rotate:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button-rotate .mat-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

// content carousel (mobile)

$width-carousel: 1000px; // all mocks width
$width-large: 350px; // large mock width
$width-medium: 325px; // medium mock width
$width-small: 300px; // small mock width

.div-mobile-carousel {
  position: relative;
  width: $width-carousel;
  height: 740px;
  overflow: hidden;
}

.div-mobile-carousel img {
  position: absolute;
  transition: all 0.5s;
  box-sizing: border-box;
  border-radius: 50px;
  filter: drop-shadow(0 0 5px #4a4a4a);
}

.div-mobile-carousel .img-front {
  z-index: 10;
  left: calc((#{$width-carousel} - #{$width-large}) / 2);
  width: $width-large;
  padding: 0 15px;
}

.div-mobile-carousel .img-back {
  z-index: 0;
  left: calc((#{$width-carousel} - #{$width-small}) / 2);
  width: $width-small;
  opacity: 0.25;
}

.div-mobile-carousel .img-side {
  z-index: 5;
  width: $width-medium;
  padding: 0 15px;
}

.div-mobile-carousel .img-left {
  left: 0;
}

.div-mobile-carousel .img-right {
  left: calc(#{$width-carousel} - #{$width-medium});
}

.div-mobile-carousel .img-far {
  z-index: 0;
  width: $width-small;
  opacity: 0;
}

.div-mobile-carousel .img-far-left {
  left: -$width-small
}

.div-mobile-carousel .img-far-right {
  left: $width-carousel;
}

// content carousel (web)

$width: 1060px; // regular mock width

#div-web-carousel {
  border-radius: 8px;
  box-shadow: 0 0 10px #404040;
  margin: 50px 20px;
  position: relative;
  overflow: hidden;
  width: $width;
  height: 602px;
}

#div-web-carousel.draggable {
  cursor: grab;
}

#div-web-carousel.draggable:active {
  cursor: grabbing;
}

#div-web-carousel img {
  width: $width;
  position: absolute;
  top: 0;
  transition: all 0.5s, top 0.75s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none;
}

#div-web-carousel.draggable:active img {
  transition: all 0.5s, top 0s !important;
}

#div-web-carousel .img-front {
  z-index: 10;
  left: 0;
}

#div-web-carousel .img-left {
  z-index: 0;
  left: -$width;
}

#div-web-carousel .img-right {
  z-index: 0;
  left: $width;
}

// index indicator circles

.div-circle {
  z-index: 15;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.45);
  margin: -25px 3px 25px 3px;
  cursor: pointer;
}

.div-circle.active {
  background-color: mat-color($mat-neon-grey, 50);
}
