@import '../../../theme';

#div-entry {
  width: 100%;
  min-height: 1000px;
}

#div-entry.even {
  background-color: mat-color($mat-neon-grey, 50);
}

#div-entry.odd {
  background-color: mat-color($mat-neon-grey, 100);
}

// content

#div-content.even {
  box-shadow: 0 1px 10px 2px #e0e0e0;
}

#div-content.odd {
  box-shadow: 0 1px 10px 2px #b0b0b0;
}


// info: client, role, technologies, platform, work

#div-info {
  padding-top: 40px;
  padding-bottom: 40px;
  color: mat-color($mat-neon-grey, 900);
  font-size: 18px;
  line-height: 21px;
}

.div-info-small {
  width: 310px;
}

.div-info-large {
  width: 620px;
}

.div-info-title {
  color: mat-color($mat-neon-grey, 300);
  font-family: Consolas, sans-serif;
  padding-bottom: 12px;
  line-height: 18px;
}

.div-info-title.spacer {
  padding-top: 24px;
}

.div-info-list {
  font-size: 18px;
  border-left: 1px solid mat-color($mat-neon-grey, 200);
  padding-left: 6px;
  margin-left: 6px;
}
