<div #divEntry id="div-entry" [ngClass]="{ 'even': even, 'odd': !even }" fxLayout="column">
  <app-section-title
    [title] = entry.title
    [subtitle] = entry.subtitle
    [subtext] = entry.date
    [color] = entry.color
  ></app-section-title>
  <div id="div-content" [ngClass]="{ 'even': even, 'odd': !even }" [style]="backgroundStyle" fxLayoutAlign="center">
    <app-development-carousel *ngIf="!entry.video; else video"
      [contentKey]="entry.contentKey"
      [contentCount]="entry.contentCount"
      [contentType]="entry.contentType">
    </app-development-carousel>
    <ng-template #video>
      <app-video-player [src]="'assets/content/development/' + entry.contentKey + '_video.mp4'"></app-video-player>
    </ng-template>
  </div>
  <div id="div-info" class="flex-padding" fxLayoutAlign="space-between">
    <div class="div-info-small">
      <app-entry-info header="CLIENT" [content]="entry.client"></app-entry-info>
      <app-entry-info header="ROLE" [content]="entry.role" [spaced]="true"></app-entry-info>
    </div>
    <div class="div-info-small">
      <app-entry-info header="TECHNOLOGIES" [content]="entry.technologies"></app-entry-info>
    </div>
    <div class="div-info-large">
      <app-entry-info header="PLATFORM" [content]="entry.platform"></app-entry-info>
      <app-entry-info header="WORK" [content]="entry.work" [spaced]="true"></app-entry-info>
    </div>
  </div>
</div>
