<div #divEntry id="div-entry" [ngClass]="{ 'even': even, 'odd': !even }" fxLayout="column">
  <div id="div-heading" class="flex-padding" fxLayout="column">
    <div id="div-date">{{ entry.date }}</div>
    <div id="div-title-subtitle">
      <span [ngStyle]="{ 'color': entry.color }">{{ entry.title }}</span> &mdash; {{ entry.subtitle }}
    </div>
  </div>
  <div id="div-content" [ngClass]="{ 'even': even, 'odd': !even }" [style]="backgroundStyle" fxLayoutAlign="center">
    <app-development-carousel *ngIf="!entry.video; else video"
      [contentKey]="entry.contentKey"
      [contentCount]="entry.contentCount"
      [contentType]="entry.contentType">
    </app-development-carousel>
    <ng-template #video>
      <app-video-player [src]="'assets/content/development/' + entry.contentKey + '/video.mp4'"></app-video-player>
    </ng-template>
  </div>
  <div id="div-info" class="flex-padding" fxLayoutAlign="space-between">
    <div class="div-info-small">
      <div class="div-info-title">CLIENT</div>
      <div>{{ entry.client }}</div>
      <div class="div-info-title spacer">ROLE</div>
      <div *ngIf="isString(entry.role); else roleList">{{ entry.role }}</div>
      <ng-template #roleList>
        <div *ngFor="let role of entry.role" class="div-info-list">{{ role }}</div>
      </ng-template>
    </div>
    <div class="div-info-small">
      <div class="div-info-title">TECHNOLOGIES</div>
      <div *ngFor="let tech of entry.technologies" class="div-info-list">{{ tech }}</div>
    </div>
    <div class="div-info-large">
      <div class="div-info-title">PLATFORM</div>
      <div>{{ entry.platform }}</div>
      <div class="div-info-title spacer">WORK</div>
      <div>{{ entry.work }}</div>
    </div>
  </div>
</div>
