<mat-sidenav-container>
  <mat-sidenav mode="over" position="end" [fixedInViewport]="true" [autoFocus]="false">
    <div *ngIf="entry !== null" id="div-sidenav-content">
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button (click)="closeEntry()"><mat-icon>close</mat-icon></button>
      </div>
      <div fxLayout="column">
        <div id="div-subtext">{{ entry.date }}</div>
        <div id="div-title-subtitle">
          <span [ngStyle]="{ 'color': entry.color }">{{ entry.title }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="div-info-small">
          <app-entry-info header="FORM" [content]="entry.subtitle"></app-entry-info>
          <app-entry-info header="TECHNOLOGIES" [content]="entry.technologies" [spaced]="true"></app-entry-info>
        </div>
        <div class="div-info-large">
          <app-entry-info header="PROJECT" [content]="entry.project"></app-entry-info>
        </div>
      </div>
      <div fxLayout="column">
        <div *ngFor="let i of contentIndices">
          <div *ngIf="!loaded[contentPath + i]" class="div-placeholder" fxLayoutAlign="center center">
            <mat-icon>insert_photo</mat-icon>
            <div class="div-loading-effect"></div>
          </div>
          <img  [hidden]="!loaded[contentPath + i]" [src]="contentPath + i + '.png'" alt="" (load)="loaded[contentPath + i] = true">
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<div #overlay id="div-overlay" (click)="closeEntry()"></div>

<app-portfolio-header
  hTitle="Design"
  caption="Despite my passion for technical code development, I don't mind getting my hands dirty in the world of digital design.
  I am by no means an artist, but I have an eye for what looks good and what users would think is functional, yet attractive.
  I have integrated this perspective with how I design websites, games, logos, and social content to create my own digital works of art."
></app-portfolio-header>

<div *ngFor="let row of entryRows" id="div-entry-row"  class="flex-margin" fxLayout="row" fxLayoutAlign="space-between">
  <app-design-entry [entryKey]="row[0]" (clickEvent)="viewEntry($event)"></app-design-entry>
  <app-design-entry [entryKey]="row[1]" (clickEvent)="viewEntry($event)"></app-design-entry>
</div>
