<app-portfolio-header
  hTitle="Design"
  caption="Despite my passion for technical code development, I don't mind getting my hands dirty in the world of digital design.
  I am by no means an artist, but I have an eye for what looks good and what users would think is functional, yet attractive.
  I have integrated this perspective with how I design websites, games, logos, and social content to create my own digital works of art."
></app-portfolio-header>
<div *ngFor="let row of entryRows" id="div-entry-row"  class="flex-margin" fxLayout="row" fxLayoutAlign="space-between">
  <app-design-entry [entry]="row[0]"></app-design-entry>
  <app-design-entry [entry]="row[1]"></app-design-entry>
</div>
