body {
  @include dark-theme();

  margin: 0;
  overflow-x: hidden;
  background: var(--background-secondary);

  font-family: $font-family-primary;
  font-size: $font-size-md;
  color: var(--color-primary);

  a {
    color: var(--accent-primary);
    outline: none;
    text-decoration: underline;
    cursor: pointer;

    &:focus,
    &:hover {
      color: var(--color-primary);
      background: var(--accent-secondary);
    }
  }

  button {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-primary);
  }

  * {
    line-height: 125%;
    box-sizing: border-box;
  }

  &.no-scrolling {
    height: 100vh;
    overflow-y: hidden;

    @media screen and (min-width: $breakpoint-xl) {
      padding-right: 20px;

      .header, .connect-menu {
        padding-right: 20px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--background-tertiary);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid var(--background-tertiary);
  background: scale-color(var-dark('background-tertiary'), $lightness: 30%);
}

::-webkit-scrollbar-thumb:hover {
  background: scale-color(var-dark('background-tertiary'), $lightness: 45%);
}
