@import '_themes.scss';
@import '_mixins.scss';
@import '_variables.scss';
@import '_fonts.scss';

body {
  margin: 0;
  overflow-x: hidden;
  background: $background-secondary;

  font-family: $font-family-primary;
  font-size: 100%; // 16 px default
  color: $color-primary;

  a {
    color: $accent-primary;
    outline: none;
    text-decoration: underline;

    &:focus {
      color: $color-primary;
      background: $accent-secondary;
    }
  }

  button {
    font-family: inherit;
    font-size: inherit;
    color: $color-primary;
  }

  * {
    box-sizing: border-box;
    line-height: 125%;
  }
}
