@import 'themes';
@import 'variables';
@import 'mixins';
@import 'fonts';

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--background-secondary);

  font-family: $font-family-primary;
  font-size: $font-size-md;
  color: var(--color-primary);

  a {
    color: var(--accent-primary);
    outline: none;
    text-decoration: underline;

    &:focus, &:hover {
      color: var(--color-primary);
      background: var(--accent-secondary);
    }
  }

  button {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-primary);
  }

  * {
    line-height: 125%;
    box-sizing: border-box;
  }

  &.no-scrolling {
    height: 100vh;
    overflow-y: hidden;
  }
}
