// breakpoints (to use with min-width as per mobile-first responsive design)
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// paddings
$page-padding: 20px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 24px;
$gap-xl: 32px;

// framework widths
$framework-width-extended: 1280px; // 720p width
$framework-width: 1000px;

// components
$header-height: $gap-xl * 2;

// other
$border-radius: $gap-sm;
$max-width : 1000px;
