@import '../../../theme';

#div-header {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: mat-color($mat-neon-grey, 900);
  padding-bottom: 50px;
  box-shadow: 0 0 8px mat-color($mat-neon-grey, 700);
  text-align: center;
}

#div-header-title {
  color: mat-color($mat-neon-grey, 50);
  font-size: 101px;
  line-height: 121px;
  font-weight: bold;
  padding-bottom: 65px;
}

#div-header-cta {
  color: mat-color($mat-neon-grey, 100);
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  white-space: pre-line;
  font-family: 'Segoe Print', sans-serif;
}

#div-buttons {
  margin-top: 30px;
  width: 350px;
}

#div-buttons button {
  font-size: 21px;
  background-color: mat-color($mat-neon-green, 600);
  color: white;
  border-radius: 100px;
  padding: 10px 35px;
}

#div-header-accent {
  position: absolute;
  bottom: 10px;
  font-family: Consolas, sans-serif;
  color: mat-color($mat-neon-grey, 500);
  font-size: 18px;
}
