@import '../../../theme';

#div-info {
  color: mat-color($mat-neon-grey, 900);
  font-size: 17px;
  line-height: 20px;
}

#div-info-title {
  color: mat-color($mat-neon-grey, 300);
  font-family: Consolas, sans-serif;
  padding-bottom: 12px;
  line-height: 17px;
}

#div-info-list {
  border-left: 1px solid mat-color($mat-neon-grey, 200);
  padding-left: 6px;
  margin-left: 6px;
}
