@import 'theme.scss';

html, body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  width: calc(100vw - 17px);
}

.flex-padding {
  padding: 0 calc(((100vw - min(1400px, 100vw)) / 2) + 50px);
}

.flex-margin {
  margin: 0 calc(((100vw - min(1400px, 100vw)) / 2) + 50px);
}

.prevent-scrolling {
  overflow: hidden;
  padding-right: 15px;
}

